*{
    font-family: "Lexend", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fi{
    font-size: 3rem;
}
.accordion h2{
    margin-bottom: 0rem;
}

.fi-tr-department-structure{
    font-size: 1.4rem;
}
.pagination{
    margin-bottom: 0rem;
}
.copy{
    opacity: .5;
    font-size: .9rem !important;
}

.pill-link{
    color: black;
}
.pill-link:hover{
    color: black;
    background-color: rgb(218, 229, 238);
}
.nav-link{
    color: black;
}
.nav-item:not(:last-child){
    margin-right: 1rem;
}
.nav-link:hover{
    color: black;
}
.tools-card:nth-child(2){
    background:red !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler-icon.close-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M6 6L24 24M6 24L24 6'/%3e%3c/svg%3e");
}

.navbar-brand{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.navbar{
    box-shadow: 0 3px 10px rgb(0,0,0,0.2);
}
.shadow-css{
    box-shadow: 0 3px 10px rgb(0,0,0,0.2);
}
.navbar-brand h2{
    margin-bottom: 0;
}
.fi-tr-menu-burger{
    color: black;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar{
    backdrop-filter: blur(15px);
    background: rgba(252, 252, 252, 0.8);
}

